{% extends "blog/base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/flexslider.css" />
{% endblock %}

{% block content %}
<section class="mysection">
    <div>
            <li class="swiper-slide">
                <a href="#" title="热砂奇遇">
                    <img src="https://webstatic.mihoyo.com/upload/contentweb/2023/05/29/3a270384da37efd773b8719c37c33c5b_6880575455532694536.png"
                        alt="歧路星语" />
                </a>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <span class="silde-title">歧路星语</span>
            </li>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="arclist">
        <h4 class="index-title homeh4"><a href=""><i class="el-certificate"></i>Latest Articles
            <small>News</small>
        </a></h4>
        {% include "blog/component/blog_list.html" with blogs=blog_list id="New" %}
    </div>

</section>
{% endblock %}
